@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Surface colors */
    --surface-light: #ffffff;
    --surface-neutral: #eeeeee;
    --surface-muted: #f5f5f4;
    --surface-interactive: #585660;
    --surface-contrast: #404040;

    /* Border colors */
    --border-light: #efedf3;
    --border-neutral: #8f8f8f;
    --border-contrast: #3b3b3b;

    /* Text colors */
    --text-light: #737373;
    --text-contrast: #3b3b3b;
  }
}

@layer base {
  * {
    @apply box-border m-0 p-0;
  }
  body {
    @apply bg-surface_light text-text_contrast text-base;
  }
}
